<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script type="text/javascript" src="../../static/javaScript/script.js" th:src="@{/javaScript/script.js}"></script>
</head>
<body>
  <form class="create-wish-form" action="/create-wish" th:action="@{/create-wish}" method="POST" enctype="multipart/form-data">
    <h4 class="form-header">Add new Wish</h4>
    <div class="form-top-wish">
      <div class="form-top-col1">
        <label for="wish-name">Name:</label>
        <input type="text" id="wish-name" placeholder="Name your Wish" name="wish-name" required>
        <label for="description">Description:</label>
        <input type="text" id="description" placeholder="Description" name="description">
        <label for="price">Price:</label>
        <input type="text" id="price" placeholder="Price" name="price">
      </div>
      <div class="form-top-col2">
        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" placeholder="Quantity" name="quantity">
        <label for="url">Link:</label>
        <input type="url" id="url" placeholder="Link" name="url">
        <label for="wish-pic">Wish picture:</label>
        <input type="file" id="wish-pic" placeholder="Add a picture" name="wish-pic">
      </div>
    </div>
    <div class="form-buttons">
      <button class="button-30" type="submit" onclick="closeCreateWishForm()">Create Wish</button>
      <button class="button-30" onclick="closeCreateWishForm()">Cancel</button>
    </div>
  </form>
</body>
</html>