<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form class="create-wishlist-form" action="/create-wishlist" th:action="@{/create-wishlist}" method="POST" enctype="multipart/form-data">
    <h2 class="form-header">Add New Wishlist</h2>
    <div class="form-top">
      <label for="list-name">Name:</label>
      <input type="text" id="list-name" placeholder="Name your wishlist" name="list-name" required>
      <label for="occasion">Occasion:</label>
      <input type="text" id="occasion" placeholder="Whats the occasion?" name="occasion">
      <label for="cover-pic">Cover picture:</label>
      <input type="file" id="cover-pic" placeholder="Add a cover picture?" name="cover-pic">
    </div>
  <div class="form-buttons">
    <button class="button-30" type="submit" onclick="closeCreateBookForm()">Create</button>
    <button class="button-30" onclick="closeCreateBookForm()">Cancel</button>
  </div>
</form>
<script type="text/javascript" src="../../static/javaScript/script.js" th:src="@{/javaScript/script.js}"></script>
</body>
</html>