<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

        <div class="footer container">
            <div class="row">
            <div class="footer-col">
                <h4>Wishlist</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><td>Email:</td></li>
                    <li><td>contact@wishlist.com</td></li>
                    <li><input class="button-30" type="submit" value="contact us"></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>