<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
</head>
<body>
    <footer th:fragment="footer" >
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col1 footer-col">
                    <h6>About</h6>
                    <p>TEXT ABOUT THE WEBSITE</p>
                </div>
                <div class="footer-col2 footer-col">
                    <h6>WishBook</h6>
                    <ul class="footer-links">
                        <li id="about-us"><a>About Us</a></li>
                        <li id="privacy-policy"><a>Private Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col3 footer-col">
                    <h6>Get Help</h6>
                    <ul class="footer-links">
                        <li id="faq"><a>FAQ</a></li>
                        <li id="contact-us"><a>Contact Us</a></li>
                        <li>Email: contact@wishbook.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>