<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nav bar</title>
</head>
<body>
  <header>
      <div class="logo">
          <a th:href="@{/static}">
            <img th:src="@{static/Wishbook_Logo.svg}" src="/../../static/Wishbook_Logo.svg" alt="Could not render logo">
          </a>
      </div>
      <nav>
          <ul class="navigation">
              <li><a href="#login" class="nav-link">Login</a></li>
              <li><a href="#register" class="nav-link">Register</a></li>
          </ul>
      </nav>
  </header>
</body>
</html>
