<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nav bar</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{css/styles.css}"/>
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
</head>
<body>
  <header>
      <nav>
          <div class="logo">
              <a th:href="@{/}">
                <img alt="Could not render logo" src="/../../images/icon_wishbook.png" th:src="@{images/icon_wishbook.png}">
              </a>
          </div>
          <ul class="nav">
              <li><a href="#login" class="button-30" onclick="toggleForm(true)">Login</a></li>
              <li><a href="/register" class="button-30">Register</a></li>
          </ul>
      </nav>
  </header>
</body>
</html>
