<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nav bar</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" th:href="@{css/home.css}"/>
</head>
<body>
  <header>
      <nav>
          <div class="logo">
              <img alt="Could not render logo" src="/../../images/icon_wishbook.png" th:src="@{images/icon_wishbook.png}">

          </div>
          <ul class="nav">
              <li><a href="#login" class="button-30" onclick="toggleForm()">Login</a></a></li>
              <li><a href="#register" class="button-30">Register</a></li>
          </ul>
      </nav>
  </header>
</body>
</html>
