<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <script type="text/javascript" th:src="@{/javaScript/script.js}"></script>
</head>
<body>
<div class="login-button">
  <button class="button-30" id="loginButton" onclick="toggleForm(true)">Login</button>
</div>
<div class="form-popup" id="loginForm" hidden>
  <form action="/login" th:action="@{/login}" method="POST">
    <table>
      <tr>
        <td>Email:</td>
        <td><input type="email" id="email" placeholder="Email" name="email" required></td>
        <div th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" placeholder="Password" name="password" required></td>
      </tr>
      <tr class="cancel-button">
        <td><input id="login" class="button-30" type="submit" value="Login"></td>
        <td><button id="cancel" type="button" class="button-30" onclick="toggleForm(false)">cancel</button></td>
      </tr>
      <tr class="no-account">
        <td><div id="noacc"><a href="/register">No account yet? Sign up!</a></div></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>