<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<button class="button-30" id="loginButton" onclick="toggleForm()">Login</button>
  <div class="form-popup" id="loginForm" hidden>
    <form action="/login" th:action="@{/login}" method="POST">
      <table>
        <tr>
          <td>Email:</td>
          <td><input type="email" id="email" placeholder="Email" name="email" required></td>
          <span th:if="${errorMessage != null}" th:text="${errorMessage}"></span>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" placeholder="Password" name="password" required></td>
        </tr>
        <tr>
          <td><input class="button-30" type="submit" value="Login"></td>
          <td><a href="/register">Don't have an account yet? Sign up!</a></td>
          <button type="button" class="button-30" onclick="toggleForm()">cancel</button>
        </tr>
      </table>
    </form>
  </div>
</body>
<script type="text/javascript" th:src="@{/javaScript/script.js}"></script>
</html>