<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile-form</title>
    <link rel="stylesheet" href="../../static/css/overview.css">
    <script type="text/javascript" src="../../static/javaScript/script.js" th:src="@{/javaScript/script.js}"></script>
</head>
<body>
    <div th:fragment="profile-popup" class="profile-popup">
        <div class="form-profile-row1">
            <button class="button-30" onclick="closeProfilePopUp()">Close</button>
        </div>
        <div class="form-profile-bottom-wrapper">
            <div class="form-profile-row2">
                <a class="row2-name" th:href="@{/overview}">
                    <img th:src="@{/images/star-profile-icon.svg}" alt="profile" src="">
                    <div class="name">
                        <h3 th:text="${session.user.getFname()}"></h3>
                        <span th:text="${session.user.getEmail()}"></span>
                    </div>
                </a>
                <a th:href="@{/profile}">Profile</a>
            </div>
            <div class="form-profile-row3">
                <div class="profile-popup-links">
                    <span th:href="@{/footer-fragment.html#about-us}">About Us</span>
                    <img class="right-arrow-img" th:src="@{/images/arrow-right.svg}" alt="" src="">
                </div>
                <div class="profile-popup-links">
                    <span th:href="@{/footer-fragment.html#privacy-policy}">Privacy Policy</span>
                    <img class="right-arrow-img" th:src="@{/images/arrow-right.svg}" alt="" src="">
                </div>
                <div class="profile-popup-links">
                    <span th:href="@{/footer-fragment.html#faq}">FAQ</span>
                    <img class="right-arrow-img" th:src="@{/images/arrow-right.svg}" alt="" src="">
                </div>
                <div class="profile-popup-links">
                    <span th:href="@{/footer-fragment.html#contact-us}">Contact Us</span>
                    <img class="right-arrow-img" th:src="@{/images/arrow-right.svg}" alt="" src="">
                </div>
            </div>
            <div class="form-profile-row4">
                <a th:href="@{/logout}"><button class="button-30">Logout</button></a>
            </div>
        </div>
    </div>
</body>
</html>
