<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form class="update-wishlist-form" action="/update-wishlist" th:action="@{/update-wishlist}" method="POST" enctype="multipart/form-data" th:fragment="wishlist (id, name, occasion)">
    <h2 class="form-header">Update wishlist</h2>
    <div class="form-top">
        <label for="list-name">Name:</label>
        <input type="text" id="list-name" placeholder="Name your wishlist" name="list-name" th:value="${name}">
        <label for="occasion">Occasion:</label>
        <input type="text" id="occasion" placeholder="Whats the occasion?" name="occasion" th:value="${occasion}">
        <label for="cover-pic">Cover picture:</label>
        <input type="file" id="cover-pic" placeholder="Add a cover picture?" name="cover-pic">
    </div>
    <div class="form-buttons">
      <button class="button-30" type="submit" onclick="closeEditBookForm()">Submit</button>
      <button class="button-30" onclick="closeEditBookForm()">Cancel</button>
    </div>
  </form>
<script type="text/javascript" src="../../static/javaScript/script.js" th:src="@{/javaScript/script.js}"></script>
</body>
</html>