<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../static/javaScript/script.js" th:src="@{/javaScript/script.js}"></script>
</head>
<body>
<form class="update-wish-form" action="/update-wish" th:action="@{/update-wish}" method="POST" enctype="multipart/form-data" th:fragment="wish (id, name, description, price, quantity, url)">
    <h2 class="form-header">Update Wish</h2>
    <div class="form-top-wish">
        <div class="form-top-col1">
            <label for="wish-name">Name:</label>
            <input type="text" id="wish-name" placeholder="Name your Wish" name="wish-name" th:value="${name}">
            <label for="description">Occasion:</label>
            <input type="text" id="description" placeholder="Description" name="description" th:value="${description}">
            <label for="price">Price:</label>
            <input type="text" id="price" placeholder="Price" name="price" th:value="${price}">
        </div>
        <div class="form-top-col2">
            <label for="quantity">Quantity:</label>
            <input type="text" id="quantity" placeholder="Quantity" name="quantity" th:value="${quantity}">
            <label for="url">Link:</label>
            <input type="url" id="url" placeholder="Link" name="url" th:value="${url}">
            <label for="wish-pic">Wish picture:</label>
            <input type="file" id="wish-pic" placeholder="Add a picture" name="wish-pic">
        </div>
    </div>
    <div class="form-buttons">
        <button class="button-30" type="submit" onclick="closeEditWishForm()">Update Wish</button>
        <button class="button-30" onclick="closeEditWishForm()">Cancel</button>
    </div>
</form>
</body>
</html>