
/* GENERAL */
:root {
    --font-family: "JetBrains Mono",monospace;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: rgba(255, 255, 255, 0.2);
    --primary-color: #bc5bf1;
    --secondary-color: #8436f5;
    --primary-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --secondary-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --backdrop: blur(9px);
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    --border: 1px solid rgba(255, 255, 255, 0.02);
}
/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/Background1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-color);
    overflow: scroll;

    position: relative;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}
/* HEADER */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background: var(--bg-color);
    box-shadow: var(--primary-shadow);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
    width: 100%;
}
nav h1 {
    color: var(--primary-color);
}
nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
nav ul {
    display: flex;
    gap: 1.9rem;
}
nav ul li {
    font-weight: var(--bold-font);
}
nav img {
    height: 80px;
}
nav footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background: var(--bg-color);
    box-shadow: var(--primary-shadow);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
    width: 100%;
}
/* FOOTER */
.footer{
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background: var(--bg-color);
    box-shadow: var(--primary-shadow);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
}
/* HERO */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.box {
    width: 40rem;
    height: 600px;
    background-color: var(--bg-color);
    box-shadow: var(--primary-shadow);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
    border-radius: 10px;
    margin: 150px 0 100px 100px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}
.login {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: var(--primary-shadow);
    background: var(--bg-color);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
}
input[type=email] {
    padding:10px;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    font-family: "JetBrains Mono",monospace;

}
input[type=password] {
    padding:10px;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    font-family: "JetBrains Mono",monospace;
}
/* BUTTONS */
.button-30 {
   align-items: center;
   appearance: none;
   background-color: #FCFCFD;
   border-radius: 4px;
   border-width: 0;
   box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
   box-sizing: border-box;
   color: #36395A;
   cursor: pointer;
   display: inline-flex;
   font-family: "JetBrains Mono",monospace;
   height: 48px;
   justify-content: center;
   line-height: 1;
   list-style: none;
   overflow: hidden;
   padding-left: 16px;
   padding-right: 16px;
   position: relative;
   text-align: left;
   text-decoration: none;
   transition: box-shadow .15s,transform .15s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;
   will-change: box-shadow,transform;
    width: auto;
   font-size: 18px;
}
.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
#loginButton.hide {
    display: none;
}
/* SHOOTING STARS */
section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    animation: animateBg 50s linear infinite;
}
@keyframes animateBg{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}
span{
    position: absolute;
    top:50%;
    left:50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
}
span::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
span:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}
span:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
span:nth-child(3){
    top: 0;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
span:nth-child(4){
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
span:nth-child(5){
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
span:nth-child(6){
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
span:nth-child(7){
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
span:nth-child(8){
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
span:nth-child(9){
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
span:nth-child(9){
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}