/* Hero Section*/
.hero {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    min-height: 100vh;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 1rem 2rem 1rem;
}

.left-arrow-img {
    height: 0.8rem;
    margin-right: 1rem;
}

.bottom-section {
    display: flex;
    flex-direction: column;
}

.bottom-header {
    margin: 2rem;
    color: white;
}

.items-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1.25rem;
}

.items {
    display: flex;
    flex-direction: column;
    height: 12.5rem;
    width: 12.5rem;
    min-height: 9.375rem;
    min-width: 9.375rem;
    margin: 1rem;
    background-color: var(--bg-color);
    backdrop-filter: var(--backdrop);
    border-radius: 10px;
}

.item-img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.item-info {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.item-info span {
    font-weight: var(--bold-font);
    color: #8C6CAC;
    align-self: center;
    justify-self: center;
}

.items button {
    align-self: center;
    justify-self: center;
}

.add-item, .add-book {
    display: flex;
    height: 12.5rem;
    width: 12.5rem;
    min-height: 9.375rem;
    min-width: 9.375rem;
    margin: 1rem;
    background-color: var(--bg-color);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    backdrop-filter: var(--backdrop);
}

.add-item img, .add-book img {
    width: 3rem;
    height: 3rem;
}

/*############################################################*/
/*WISH-PAGE*/

.wish-bottom-section {
    display: flex;
    justify-content: space-evenly;
}

.wish-image-container {
    height: 75vh;
    width: 75vh;
    min-height: 9.375rem;
    min-width: 9.375rem;
    margin: 1rem;
    background-color: var(--bg-color);
    backdrop-filter: var(--backdrop);
    border-radius: 10px;
}

.wish-info-container {
    height: 75vh;
    width: 75vh;
    min-height: 9.375rem;
    min-width: 9.375rem;
    margin: 1rem;
    background-color: var(--bg-color);
    backdrop-filter: var(--backdrop);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.wish-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.wish-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*############################################################*/

/* OVERVIEW-PAGE */

#all-books {
    display: block;
}

#books-following {
    display: block;
}

#my-books {
    display: block;
}

/*############################################################*/

/* SHARED-PAGES */


/*############################################################*/

/* EDIT-BOOK-POPUP-FORM */

#edit-book-form {
    display: none;
}

#create-book-form {
    display: none;
}

#edit-wish-form {
    display: none;
}

#create-wish-form {
    display: none;
}

#profile-popup-id {
    display: none;
}

#delete-profile-id {
    display: none;
}

#delete-wishlist-id {
    display: none;
}

#delete-wish-id {
    display: none;
}

#share-link {
    display: none;
}

.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 25rem;
    min-height: 25rem;
    background-color: var(--bg-color);
    box-shadow: var(--primary-shadow);
    backdrop-filter: var(--secondary-backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
    border-radius: 10px;
    z-index: 10;
}

.delete-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    box-shadow: var(--primary-shadow);
    backdrop-filter: var(--secondary-backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
    border-radius: 10px;
    z-index: 10;
}

.form-popup {
    position: relative;
    margin: 2rem;
}

input {
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    font-family: "JetBrains Mono",monospace;
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
}

.update-wishlist-form, .create-wishlist-form, .create-wish-form, .update-wish-form .deleteForm{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-header {
    margin-top: 2rem;
    color: #322964;
}

.form-top {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.form-top-wish {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.form-top-col1, .form-top-col2 {
    margin: 1rem;
}

.form-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 2rem;
}

.sureDeleteButton, .sureDeleteCancel{
    width: 200px;
    margin: 60px;
}
.aUsure{
    margin-left: 50px;
    margin-bottom: 10px;
}
form label {
    color: #322964;
}

/*############################################################*/

/*PROFILE-FORM-FRAGMENT*/
.profile-popup span {
    color: #551A8B;
}

.profile-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: #D28DAC;
    box-shadow: var(--primary-shadow);
    z-index: 999;
}

.delete-popup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-profile-row1 {
    align-self: end;
    margin: 1rem 1rem 0 0;
    height: 5%;
}

.form-profile-row2 a:hover {
    background: #dc98b6 100%;
}

.form-profile-bottom-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
}

.form-profile-row2, .form-profile-row3{
    align-self: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: flex-start;
}

.form-profile-row2 a, .form-profile-row3 span {
    margin-bottom: 0.5rem;
    padding: 1rem;
    width: 100%;
}

.form-profile-row3 span:hover {
    color: #dca8f1;
    text-decoration:none;
}

.form-profile-row2 a {
    border-radius: 10px;
    box-shadow: var(--primary-shadow);
}

.form-profile-row4 {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
}

.row2-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.name {
    display: flex;
    flex-direction: column;
}

.row2-name img {
    height: 50px;
    border-radius: 10px;
    box-shadow: var(--primary-shadow);
}

.profile-popup-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

.right-arrow-img {
    height: 0.8rem;
}

.top-section h1, span{
    color: white;
}
