* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    margin: 0;
    background: linear-gradient(#8C6CAC 0%, #D28DAC 100%) no-repeat fixed;
}

.profile-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:15%;
}

.profile-wrapper::after {
    content: "";
    background-image: url("../images/banner-placeholder.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: 11%;
    left: 0;
    right: 0;
    bottom: 65%;
    position: absolute;
    z-index: -2;
}

/* Define the styles for the profile picture*/
.profile-icon img {
    background-image: url("../images/Profile-icon.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 20%;
    position: absolute;
    top: 24%;
    left: 11%;
    z-index: 11;
    box-shadow: var(--primary-shadow);
}


.profile_container {
    height: 900px;
    width: 800px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: #ffffff;
    margin-top: 750px;
    font-family: var(--font-family);
    border-radius: 20px;
    /* other styles */
    background-color: var(--bg-color);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
    box-shadow: var(--primary-shadow);
}

.personal h4 {
    position: absolute;
    top: 10%;
    font-size: 2.5rem;
    font-weight: var(--bold-font);
}

.persContent {
    font-size: 1.5rem;
    font-weight: var(--normal-font);
}

.fn {
    position: absolute;
    top: 20%;
}

.ln {
    position: absolute;
    left: 50%;
    top: 20%;
}

.em {
    position: absolute;
    top: 28%;
}

.epm {
    position: absolute;
    top: 35%;
}

.safety h4 {
    position: absolute;
    top: 45%;
    font-size: 2.5rem;
    font-weight: var(--bold-font);
}

.cp {
    position: absolute;
    top: 53%;
    font-size: 1.5rem;
    font-weight: var(--normal-font);
}

.administration h4 {
    position: absolute;
    top: 65%;
    font-size: 2.5rem;
    font-weight: var(--bold-font);
}

.dp {
    position: absolute;
    top: 73%;
    font-size: 1.5rem;
    font-weight: var(--normal-font);
}

.logout {
    position: absolute;
    top: 80%;
    font-size: 1.5rem;
    font-weight: var(--normal-font);
}

.personal {
    display: flex;
    background-color: rgba(213, 11, 11, 0);
}

.safety {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
}

.administration {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
}


