.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: center;
    margin-top: 60px;
    margin-bottom: 100px;
}
.box {
    width: 40rem;
    height: 600px;
    background-color: var(--bg-color);
    box-shadow: var(--primary-shadow);
    backdrop-filter: var(--backdrop);
    border: var(--border);
    border-radius: 10px;
    margin: 150px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}


tbody {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    border-color: inherit;
    margin-left: 100px;
}

input{
    margin-right: 150px;
}

tr {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
td:first-child {
    color: #322964;
    text-align: left;
    margin-bottom: 10px;
}
td:last-child {
    color: #322964;
    text-align: right;
    margin-bottom: 10px;
}

#submitButton{
    margin: 10px;
}

a{
    margin: 20px;
}
h1{
    margin: 20px;
    color: #322964;
}

.create-account input:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.box a:hover {
    color: #dca8f1;
    text-decoration:none;
}
