/* GENERAL */
:root {
    --font-family: "JetBrains Mono",monospace;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: rgba(255, 255, 255, 0.2);
    --primary-color: #bc5bf1;
    --secondary-color: #8436f5;
    --primary-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --secondary-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --backdrop: blur(9px);
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    --border: 1px solid rgba(255, 255, 255, 0.02);
}
/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/Background1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-color);
    overflow: scroll;
    font-family: var(--font-family);
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}
/*############################################################*/
/* HEADER */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background: var(--bg-color);
    box-shadow: var(--primary-shadow);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
    width: 100%;
}
nav h1 {
    color: var(--primary-color);
}
nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
nav ul {
    display: flex;
    gap: 1.9rem;
}
nav ul li {
    font-weight: var(--bold-font);
}
nav img {
    height: 80px;
}
/*############################################################*/
/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background: var(--bg-color);
    box-shadow: var(--primary-shadow);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
    width: 100%;
}
footer nav{
    bottom: 0;
}

footer ul {
    display: flex;
    gap: 1.9rem;
    justify-content: space-between;
    align-content: space-evenly;
}
/*############################################################*/





