<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WishBook</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" th:href="@{css/home.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{css/styles.css}"/>
    <!-- Favicons -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../../static/images/favicon.png" th:href="@{images/favicon.png}"
    />

    <div th:insert="fragments/header-fragment.html"></div>
  </head>
  <body>
  <!-- Hero Section -->
 <div class="container">
     <div class="box" th:insert="fragments/login-fragment.html"></div>
 </div>
  <!-- Shooting stars -->
  <section>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </section>
 </body>
 <footer>
     <div th:insert="fragments/footer-fragment.html"></div>
  </footer>
  </html>