<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WishBook</title>
    <!-- Favicons -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{css/styles.css}"/>
    <div th:insert="fragments/header-fragment.html"></div>
 </head>
 <body>
   <!-- Hero Section -->
<div class="try">
 <div class="container">
    <div class="box" th:insert="fragments/login-fragment.html"></div>
 </div>
<div class="quote neonText"><p>Wishes do come true, if you share them with others.</p></div>
</div>

  <!-- Shooting stars -->
   <section>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
   </section>
  </body>
<footer class="site-footer" th:insert="fragments/footer-fragment.html :: footer"></footer>
  <link rel="stylesheet" type="text/css" href="../static/css/home.css" th:href="@{css/home.css}"/>
</html>