<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh">
    <title>Overview</title>
    <!-- Favicons -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/overview.css" th:href="@{css/overview.css}"/>
    <script type="text/javascript" src="../static/javaScript/script.js" th:src="@{javaScript/script.js}"></script>
</head>
<body>
    <header th:insert="fragments/all-fragments :: header-loggedIn"></header>
    <div class="hero">
        <div class="top-section section-style">
            <div class="top-left-section">
                <button class="button-30" onclick="showAllBooks()">All Books</button>
                <button class="button-30" onclick="showMyBooks()">My Books</button>
                <button class="button-30" onclick="showBooksFollowing()">Books following</button>
            </div>
            <div class="top-right-section">
                <button class="button-30" onclick="openCreateBookForm()">Add Wishbook</button>
            </div>
        </div>

        <div class="bottom-section section-style" id="all-books">
            <div id="my-books">
                <h2 class="bottom-header">Your Wishbooks</h2>

                <div class="items-wrapper">
                    <div onclick="openCreateBookForm()" class="add-book">
                        <img th:src="@{images/plus.svg}" alt="Add book" src="">
                    </div>
                    <div th:each="wishlist : ${session.wishlistLists}">
                        <a th:href="@{'/wishlist-page/'+${wishlist.getId()}}">
                        <div class="items">
                            <img class="item-img" th:src="'data:image/jpeg;base64,' + ${wishlist.getPicOut()}" alt="" src="">
                            <div class="item-info">
                                <span class="item-name" th:text="${wishlist.getList_name()}"></span>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="books-following">
                <h2 class="bottom-header">Books Following</h2>
            </div>
        </div>
    </div>
    <div class="form-container" id="create-book-form" th:insert="fragments/all-fragments :: create-wishlist"></div>
    <footer class="site-footer" th:insert="fragments/all-fragments  :: footer"></footer>
</body>
</html>