<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
</head>
<body>
    <form>
        <table>
            <tr>
                <td><a href="#All lists" class="nav-link">All lists</a></td>
                <td><a href="#My lists" class="nav-link">My lists</a></td>
                <td><a href="#Lists I follow" class="nav-link">Lists I follow</a></td>
            </tr>
            <tr>
                <td><input type="submit" value="New wish"></td>
                <td><input type="submit" value="New wishlist"></td>
            </tr>
        </table>
    </form>
    <form>
        <table>
            <h4>My wishlists</h4>
            <td><a href="#Show all" class="nav-link">Show all</a></td>
        </table>
        <table>
            <h4>Lists I follow</h4>
            <td><a href="#Show all" class="nav-link">Show all</a></td>
        </table>
    </form>
    <a th:href="@{/logout}"><button>Logout</button></a>
</body>
</html>