<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="../static/css/profile.css" th:href="@{/css/profile.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/overview.css" th:href="@{/css/overview.css}"/>
    <div th:insert="fragments/header-loggedIn-fragment.html"></div>
</head>
<body>
    <div class="profile-wrapper">
            <div class="profile_container">
                    <form class="edit-profile-form" th:action="@{/update-profile}" method="post">
                        <h2 class="profile-header">Personal</h2>
                        <h4>First name:</h4>
                        <input type="text" placeholder="First name" name="fname" th:value="${session.user.getFname()}">
                        <h4>Last name:</h4>
                        <input type="text" placeholder="Last name" name="lname" th:value="${session.user.getLname()}">
                        <h4>Email:</h4>
                        <input type="text" placeholder="Email" name="email" th:value="${session.user.getEmail()}">
                        <button class="button-30" type="submit">Update Info</button>
                    </form>
                    <div class="administration">
                            <h2 class="profile-header">Administration</h2>
                            <div class="administration-buttons">
                                <a th:href="@{/delete-user}"><button class="button-30">Delete Profile</button></a>
                                <a th:href="@{/logout}"><button class="button-30">Logout</button></a>
                            </div>
                    </div>
            </div>
            <picture class="pp">
                <img src="../static/images/pp.jpg" th:src="@{images/pp.jpg}" alt="profile picture">
            </picture>
    </div>
    <footer class="site-footer" th:insert="fragments/footer-fragment.html :: footer"></footer>
</body>
</html>
