<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create account</title>
</head>
<body>
<form>
  <table>
    <tr>
      <td>First name:</td>
      <td><input type="text" placeholder="First name" name=""></td>
    </tr>
    <tr>
      <td>Last name:</td>
      <td><input type="text" placeholder="Last name" name=""></td>
    </tr>
      <td>Email:</td>
      <td><input type="mail" placeholder="Email" name=""></td>
    <tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" placeholder="Password" name=""></td>
    </tr>
    <tr>
      <td>Confirm password:</td>
      <td><input type="password" placeholder="Password" name=""></td>
    </tr>
    <tr>
      <td><input type="submit" value="Create account"></td>

      <td><a href="/login">Already have an account?</a></td>
    </tr>
  </table>
</form>
</body>
</html>