<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create account</title>
</head>
<body>
<form action="/register" th:action="@{/register}" method="POST">
  <table>
    <tr>
      <td>First name:</td>
      <td><input type="text" placeholder="First name" name="fname" required></td>
    </tr>
    <tr>
      <td>Last name:</td>
      <td><input type="text" placeholder="Last name" name="lname" required></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="email" id="email" placeholder="Email" name="email" required></td>
      <span th:if="${errorMessage != null}" th:text="${errorMessage}"></span>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" placeholder="Password" name="password" required></td>
    </tr>
    <tr>
      <td><input type="submit" value="Create account"></td>
      <td><a href="/login">Already have an account?</a></td>
    </tr>
  </table>
</form>
</body>
</html>