<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Favicons -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
</head>
<body>
<span>Hello testing</span>
<div th:insert="fragments/update-wishlist-form-fragment.html"></div>
</body>
</html>