<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book</title>
    <!-- Favicons -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/overview.css" th:href="@{/css/overview.css}"/>
    <script type="text/javascript" src="../static/javaScript/script.js" th:src="@{/javaScript/script.js}"></script>
    <div th:insert="fragments/header-loggedIn-fragment.html"></div>
</head>
<body>
<div class="hero">
  <div class="top-section">
    <div class="wish-top-left-section">
      <a th:href="@{'/wishlist-page/'+${session.wishlistFromWishlistView.getId()}}"><button class="button-30"><img class="left-arrow-img" th:src="@{/images/arrow_left.png}" alt="" src="../static/images/arrow_left.png">Wishbook</button></a>
    </div>
    <div class="wish-top-right-section">
      <button class="button-30" onclick="openDeleteWishPopUp()">Delete Wish</button>
    </div>
  </div>
  <div class="wish-bottom-section">
            <div class="wish-image-container">
              <img class="wish-img" th:src="'data:image/jpeg;base64,' + ${session.wish.getPicOut()}" alt="" src="" >
            </div>
            <div class="wish-info-container">
                <h3 class="wish-name" th:text="${session.wish.getWish_name()}"></h3>
                <span class="wish-price" th:text="'Price: '+${session.wish.price}"></span>
                <span class="wish-description" th:text="'Description: '+${session.wish.getDescription()}"></span>
                <div class="wish-buttons-container">
                  <button class="button-30" onclick="openEditWishForm()">Edit</button>
                  <a th:href="${session.wish.getUrl()}"><button class="button-30">Go to website</button></a>
                </div>
            </div>
  </div>
</div>
<div class="form-container" id="edit-wish-form" th:insert="fragments/update-wish-form-fragment :: wish (id=${session.wish.getId()}, name=${session.wish.getWish_name()}, description=${session.wish.getDescription()}, price=${session.wish.getPrice()}, quantity=${session.wish.getQuantity()}, url=${session.wish.getUrl()})"></div>
<div id="delete-wish-id" class="delete-popup-container" th:insert="fragments/delete-fragment :: delete-wish-popup"></div>
<footer class="site-footer" th:insert="fragments/footer-fragment.html :: footer"></footer>
</body>
</html>