<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <!-- Favicons -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/images/favicon.png" th:href="@{images/favicon.png}"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/overview.css" th:href="@{/css/overview.css}"/>
    <script type="text/javascript" src="../static/javaScript/script.js" th:src="@{/javaScript/script.js}"></script>
    <div th:insert="fragments/all-fragments :: header-loggedIn"></div>
</head>
<body>
<section class="hero">
    <section class="top-section section-style">
        <div class="top-left-section">
            <a th:href="@{/overview}"><button class="button-30"><img class="left-arrow-img" th:src="@{/images/arrow_left.png}" alt="" src="">Overview</button></a>
        </div>
        <div class="top-right-section">
            <button class="button-30" onclick="copyToClipboard()">Copy link to clipboard</button>
            <button class="button-30" onclick="openEditBookForm()">Edit Book</button>
            <button class="button-30" onclick="openDeleteWishlistPopUp()">Delete Book</button>
        </div>
    </section>

    <section class="bottom-section section-style">
        <h2 class="bottom-header">Wishes</h2>

        <div class="items-wrapper">
            <div onclick="openCreateWishForm()" class="add-item">
                <img th:src="@{/images/plus.svg}" alt="Add Wish" src="">
            </div>
            <div th:each="wish : ${session.listOfWishes}">
                <a th:href="@{'/wish-page/'+${wish.getId()}}">
                    <div class="items">
                        <img class="item-img" th:src="'data:image/jpeg;base64,' + ${wish.getPicOut()}" alt="" src="">
                        <div class="item-info">
                            <span class="item-name" th:text="${wish.getWish_name()}"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <div class="form-container" id="edit-book-form" th:insert="fragments/all-fragments :: update-wishlist (id=${session.wishlistFromWishlistView.getId()}, name=${session.wishlistFromWishlistView.getList_name()}, occasion=${session.wishlistFromWishlistView.getOccasion()})"></div>
    <div class="form-container" id="create-wish-form" th:insert="fragments/all-fragments :: create-wish"></div>
    <div id="delete-wishlist-id" class="delete-popup-container" th:insert="fragments/all-fragments :: delete-wishlist-popup"></div>
</section>
<span id="share-link" th:text="'localhost:1200/wishlist/share/'+${session.user.getId()}+'/'+${session.wishlistFromWishlistView.getId()}"></span>
<footer class="site-footer" th:insert="fragments/all-fragments :: footer"></footer>
</body>
</html>




